<fb:header>Semantic Web Exporter</fb:header>
<h2>Introduction</h2>
<p>
This application exports machine-readable information about your
facebook profile and friends, in an open format (<a href="http://www.w3.org/RDF/">RDF</a>), described using
the Friend of a Friend (<a href="http://www.foaf-project.org/">FOAF</a>) and Semantically-Interlinked Online
Communities (<a href="http://sioc-project.org/">SIOC</a>) vocabularies.
</p>
<p>
Why would you want to do this?  See <a href="http://dig.csail.mit.edu/2008/Papers/MSNWS/">The Future of Online Social Networking</a>.
</p>
<h2>Instructions</h2>
<ol>
<li>If you have a "foaf:Person" URI for yourself already, it can be
reused.  If not, don't worry, and leave the first field blank.</li>
<li>Decide whether you want to export information about just yourself, or include friends as well.</il>
<li>Select a preferred serialization format.  RDF/XML is the most
common, but others are easier to edit manually if you want to make
changes.</li>
<li>Use the download link to save the export file.</li>
<li>Upload the saved file to your website.</li>
<li>Provide a link on your blog to the file, like so (assuming RDF/XML serialization): 
<ul><li><code>&lt;link rel="meta" type="application/rdf+xml" title="FOAF" href="foaf.rdf" /&gt;</code></li></ul></li>
</ol>

<!--<form name="swe" action="{{=triplesbase}}" method="get">-->
<fb:editor action="{{=triplesbase}}" labelwidth="200">
<input type="hidden" name="uid" value="{{=uid}}" />
<input type="hidden" name="swe_token" value="{{=swe_token}}" />
<fb:editor-text label="FOAF Person URI (optional)" name="foaf_person" placeholder="this is optional" />
<fb:editor-custom label="Include Friends">
<input type="checkbox" name="include_friends" value="true" checked="true"/>
<br />
<!--<select name="include_friends">
<option value="true" selected>Yes</option>
<option value="false">No</option>
</select>-->
</fb:editor-custom>
<fb:editor-custom label="Include Friends' Groups (may be slow)">
<input type="checkbox" name="include_friends_groups" value="true" checked="false"/>
<!--<select name="include_friends_groups">
<option value="true">Yes</option>
<option value="false" selected>No</option>
</select>-->
</fb:editor-custom>
<fb:editor-custom label="Format">
<select name="format">
<option value="rdf" selected>RDF/XML</option>
<option value="pretty-xml">RDF/XML ABBREV</option>
<option value="n3">N3</option>
<option value="nt">NTriples</option>
<option value="turtle">Turtle</option>
</select>
</fb:editor-custom>
<fb:editor-buttonset>
<fb:editor-button value="Download" name="submit" />
</fb:editor-buttonset>
</fb:editor>
<p>
<em><strong>Note:</strong> The download button provided on this page works only once, for your privacy.  Please reload the page if you wish to generate data with different options.  All data is created dynamically, and is not saved on servers outside of Facebook.</em>
</p>

<!--<p><a href="{{=tripleslink}}">Temporary Download</a> for currently selected format.</p>-->
<!--
<fb:tabs>
<fb:tab-item href='{{=(baseurl+'default/index?format=rdf')}}' title='RDF/XML'
{{ if format == 'rdf':}}
selected='true'
{{pass}}
/>
<fb:tab-item href='{{=(baseurl+'default/index?format=n3')}}' title='N3' 
{{ if format == 'n3':}}
selected='true'
{{pass}}
/>
<fb:tab-item href='{{=(baseurl+'default/index?format=nt')}}' title='NTriples'
{{ if format == 'nt':}}
selected='true'
{{pass}}
/>
<fb:tab-item href='{{=(baseurl+'default/index?format=turtle')}}' title='Turtle'
{{ if format == 'turtle':}}
selected='true'
{{pass}}
/>
</fb:tabs>

<pre><code>{{=graph}}</code></pre>
-->
<hr />
The W3C in no way sponsors or endorses this application.  To learn more about RDF, please visit <a href="http://www.w3.org/RDF/">http://www.w3.org/RDF/</a>.
<p>
This application is Free software, under the BSD license.  Source code is available from <a href="http://hg.gregheartsfield.com/sw_exporter">http://hg.gregheartsfield.com/sw_exporter</a>.  <a href="mailto:scsibug@imap.cc">Patches and other feedback is welcome</a>.
</p>

