<fb:header>Semantic Web Exporter</fb:header>
<h2>Introduction</h2>
<p>
This application exports machine-readable information about your
facebook profile and friends, in an open format (RDF), described using
the Friend of a Friend (FOAF) vocabulary.
</p>
<h2>Instructions</h2>
<ol>
<li>Use the tabs below to select a preferred serialization.  RDF/XML
is the most common, but others are easier to edit manually if you want
to make changes.</li>
<li>Use the download link to save the full export file.  Only a couple of friends are included in the preview below, the download includes all friends.</li>
<li>Upload the saved file to your website.</li>
<li>Provide a link on your blog to the file, like so (assuming RDF/XML serialization): 
<ul><li><code>&lt;link rel="meta" type="application/rdf+xml" title="FOAF" href="foaf.rdf" /&gt;</code></li></ul></li>
</ol>

<p><a href="{{=tripleslink}}">Temporary Download</a> for currently selected format.</p>
<fb:tabs>
<fb:tab-item href='{{=(baseurl+'default/index?format=rdf')}}' title='RDF/XML'
{{ if format == 'rdf':}}
selected='true'
{{pass}}
/>
<fb:tab-item href='{{=(baseurl+'default/index?format=n3')}}' title='N3' 
{{ if format == 'n3':}}
selected='true'
{{pass}}
/>
<fb:tab-item href='{{=(baseurl+'default/index?format=nt')}}' title='NTriples'
{{ if format == 'nt':}}
selected='true'
{{pass}}
/>
<fb:tab-item href='{{=(baseurl+'default/index?format=turtle')}}' title='Turtle'
{{ if format == 'turtle':}}
selected='true'
{{pass}}
/>
</fb:tabs>

<pre><code>{{=graph}}</code></pre>

<hr />
The W3C in no way sponsors or endorses this application.  To learn more about RDF, please visit <a href="http://www.w3.org/RDF/">http://www.w3.org/RDF/</a>.
